@model List<Book>
    
@{
    ViewData["Title"] = "Books";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Changes</th>
        </tr>
    </thead>
    <tbody>
    @foreach (Book book in Model)
    {   
        <tr>
            <th scope="row">@book.Id</th>
            <td>@book.Title</td>
            <td>@book.Author</td>
            <td>
                <div class="w-100">
                    <a asp-action="Update" asp-route-Id="@book.Id" class="btn btn-primary mx-1">Update</a>
                    <a asp-action="Delete" asp-route-Id="@book.Id" class="btn btn-danger mx-1">Delete</a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>
<a asp-controller="Home" asp-action="Index" class="btn btn-outline-dark">Home Page</a>
<a asp-action="AddBook" class="btn btn-outline-success">AddBook</a>
