@model List<StockDisplay>

@{
    ViewData["Title"] = "Stock";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Total Stock</th>
            <th scope="col">Stock Available</th>
            <th scope="col">Amend Stock</th>
        </tr>
    </thead>
    <tbody>
    @foreach (StockDisplay stockDisplay in Model)
    {   
        <tr>
            <td>@stockDisplay.Title</td>
            <td>@stockDisplay.Author</td>
            <td>@stockDisplay.TotalStock</td>
            <td>@stockDisplay.StockAvailable</td>
            <td>
                <div class="w-100">
                    <a asp-action="AddStock" asp-route-Id="@stockDisplay.BookId" class="btn btn-primary mx-1">Add a copy</a>
                    <a asp-action="DeleteStock" asp-route-Id="@stockDisplay.BookId" class="btn btn-danger mx-1">Delete a copy</a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>
<a asp-controller="Stock" asp-action="Index" class="btn btn-outline-dark">Back</a>

